.nav{
  grid-area: n;
  background-color: SkyBlue;
  padding: 20px;
}


.item a{
   color:white;
   text-decoration: none;
   font-size: 20px;
}

.item a.active{
  color: #1F96C6;
  font-weight:bold;
}
