.dialogs{
  display: grid;
  grid-template-columns: 3fr 9fr;
}


.dialogsItems{

}


.dialog{
  padding:10px;

}


.messagesItems{
  background-color: white;
}


.dialogsItems a.active img{
  width: 45px;
  height: 45px;
  border-radius:22px;
}

.dialogsItems a.active{
  color: #1F96C6;
  font-weight:bold;
}


a{
  text-decoration: none;
  color:#2A4480;
}

.message{
  background-color: LightBlue;
  margin:20px;
  padding:20px;
  border-radius: 5px;
}


.head{
  padding:10px;
  font-size: 25px;
  color:#2A4480;
  font-weight:bold;
}

img {
  width: 40px;
  height: 40px;
  border-radius:20px;
  position: relative;
}

Navlink{
  padding-bottom: 10px;
}
